rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and write access to the 'settings' collection
    match /settings/{docId} {
      allow read, write: if true;
    }
  }
}
